name: Publish to NPM

permissions:
  id-token: write # Required for OIDC
  contents: read

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Update npm # 11.5.0 required for OIDC authentication
        run: npm install -g npm@latest
      - run: npm ci
      - run: npm run build
      - run: npm publish
